.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  .container {
    display: flex;
    justify-content: space-evenly;

    .navbar-brand {
      .navbar-item {
        .logoContent {
          content: url(../instagram-for-project.png);
          margin-top: 10px;
          width: 37.87%;
        }

        .vr {
          width: 1px;
          border-left: 1px solid black;
          margin: 0 30px;
          padding: 18px 0;
        }
      }
    }
    .navbar-item {
      &:first-child {
        padding: 0;
        margin: auto;
      }
      &:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }
}
